@model RobinWeb.DataLayer.Entities.Product
@{
}

@section MetaTag
    {
    <meta name=googlebot content=index,follow>
    <meta name=robots content=noodp,noydir>
    <meta name=description content="جزئیات محصول">

    <meta property=og:site_name value="رابین وب">
    <meta property=og:title content="@Model.ProductName">
    <meta property=og:url content="https://Robinwebstudio.ir/ShowProduct/@Model.ProductId" />
    <meta property=og:image content="/img/products/@Model.AvatarName">
    <meta property=og:image:url content="/img/products/@Model.AvatarName" />
    <meta property=og:image:width content="700">

    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="@Model.Comment">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog">
                <div class="blog-header">
                    <h4>@Model.ProductName</h4>
                    <p>@Model.VisitCount<i class="bi bi-eye"></i></p>
                    <a id="copyTarget" onclick="copyToClipboard('https://robinwebstudio.ir/@Model.ShortLink')" class="float-start"><span>لینک کوتاه: </span>https://robinwebstudio.ir/@Model.ShortLink</a>
                </div>
                <div class="avatar">
                    <img src="/img/products/@Model.AvatarName" alt="avatar">
                </div>
                <div class="blog-text">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
        <div class="pattern">
            <img src="/img/bg-pattern.png" alt="robot" id="bg-pattern">
        </div>
    </div>
</div>






















