@model RobinWeb.DataLayer.Entities.Blog
@using RobinWeb.Core.Convertors;
@{
}

@section MetaTag
    {
    <meta name=googlebot content=index,follow>
    <meta name=robots content=noodp,noydir>
    <meta name=description content="وبلاگ">

    <meta property=og:site_name value="رابین وب">
    <meta property=og:title content="@Model.Title">
    <meta property=og:url content="https://Robinwebstudio.ir/ShowBlog/@Model.BlogId" />
    <meta property=og:image content="/img/blogs/@Model.ImageName">
    <meta property=og:image:url content="/img/blogs/@Model.ImageName" />
    <meta property=og:image:width content="700">

    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog">
                <div class="blog-header">
                    <h4>@Model.Title</h4>
                    <p>نویسنده:<span>@Model.Blogger</span></p>
                    <p class="float-start">@Model.CreateDate.ToShamsi()</p>
                </div>
                <div class="avatar">
                    <img src="/img/blogs/@Model.ImageName" alt="avatar">
                </div>
                <div class="blog-text">
                    @Html.Raw(Model.BlogText)
                </div>
                <div class="tags">
                    <ul>
                        @foreach (var tag in Model.Tags.Split("-"))
                        {
                            <li><a href="#">@tag#</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="pattern">
            <img src="/img/bg-pattern.png" alt="robot" id="bg-pattern">
        </div>
    </div>
</div>
